# Pandas数据处理120题知识点总结
## 第三章 数据框行列更改

---
  
　ID：wlong
　数据分析爱好者、目前小白一枚
　邮箱：wlong826@163.com
　CSDN：**[【数分小白龙】](https://blog.csdn.net/qq_38230663)**
　和鲸社区：**[【wlong】](https://www.heywhale.com/home/user/profile/5f0a61d72be199002c073935)**
　如果有不完善的地方，欢迎小伙伴评论区留言！
　最近博客、和鲸每周都会有所更新，欢迎大家**关注点赞分享**哦！
 
---

　本文的CSDN链接：[【三、 数据框行列更改】](https://blog.csdn.net/qq_38230663/article/details/116397394?spm=1001.2014.3001.5501)
 
 　如果有想学习爬虫的小伙伴，可以看这里：[【零基础入门Python爬虫--豆瓣、58同城、安居客等】](https://www.heywhale.com/mw/project/60be1fa8acdcb3001707b133)
	
 　关于总结更详细的配套习题案例，看这👉：[【和鲸训练营第一期——Pandas基础】](https://www.heywhale.com/home/competition/60c086d8565cca001731537f)

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.DataFrame({'n':['wencky','stany','barbio'],
                      'a':[29,29,3],
                      'g':['w','m','m']})
df

        n   a  g
0  wencky  29  w
1   stany  29  m
2  barbio   3  m

## 1. 设置索引

In [3]:
df['id'] = [2001, 2002, 2003]

In [4]:
df.set_index('id',inplace=True)
df

           n   a  g
id
2001  wencky  29  w
2002   stany  29  m
2003  barbio   3  m

## 2. 重置索引(行号)

In [5]:
df.reset_index(drop = True, inplace = True) # drop = True：原有索引就不会成为新的列
df

        n   a  g
0  wencky  29  w
1   stany  29  m
2  barbio   3  m

## 3. 更改列名

In [6]:
#方法一：直接法
df.columns = ['name', 'age', 'gender']
 
#方法二：(使用rename()函数：修改指定修改某列或某几列名字)
df.rename(columns={'n':'name', 'a':'age', 'g':'gender'}, inplace=True)

In [7]:
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

## 4. 更改列序

### (1) 将三列倒序

In [8]:
#方法一：
df.iloc[:, ::-1]
 
#方法二
df.iloc[:, [-1,-2,-3]]

  gender  age    name
0      w   29  wencky
1      m   29   stany
2      m    3  barbio

### (2) 交换name和gender两列位置

In [9]:
# 方法一
temp = df['name']
df.drop(labels=['name'], axis=1, inplace=True)
df.insert(0, 'name', temp)
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

In [10]:
# 方法二:直接法，更改取列顺序
cols = df.columns[[2,1,0]]
df = df[cols]
df

  gender  age    name
0      w   29  wencky
1      m   29   stany
2      m    3  barbio

### (3) 更改全部列排序

In [11]:
order = ['name', 'age', 'gender']
df = df[order]
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

## 5. 删除行列

### (1) DataFrame.drop用法

- DataFrame.drop(axis=0, how='any', thresh=None, subset=None, inplace=True)
    - axis=0 行；axis=1 列；
    - how：{'any', 'all'} -- 'any'：存在NA值就删除该行/列；'all'：所有值为NA才删除；
    - thresh：int保留含有int个非空值的行；
    - subset：对特定的列进行缺失值删除处理；
    - inplace：False-返回新的数据集（默认），True-在原数据集上操作

### (2) 删除id列

In [12]:
# 法一：
df['id'] = [2001, 2002, 2003]
del df['id']
# 法二：
df['id'] = [2001, 2002, 2003]
df.drop('id', axis=1, inplace=True)
df

     name  age gender
0  wencky   29      w
1   stany   29      m
2  barbio    3      m

### (3) 删除name='stany'的行

In [13]:
index = df[df['name'] == 'stany'].index[0]
df.drop(labels=[index], inplace=True)
df

     name  age gender
0  wencky   29      w
2  barbio    3      m

### (4) 删除age列所有为非数字的行

In [14]:
# 先增加几行数据
dicts = {'name':['Perl','mary', 'tom', 'bob'],'age':[20, 18, '无', 26], 'gender':['m', 'w', 'm', 'w']}
df2 = pd.DataFrame(dicts)
df = df.append(df2,ignore_index=True)
df

     name age gender
0  wencky  29      w
1  barbio   3      m
2    Perl  20      m
3    mary  18      w
4     tom   无      m
5     bob  26      w

In [15]:
# 先定义一个数组，存储非数字的索引，然后再drop()
k = []
for i in range(len(df)):
    if type(df['age'][i]) != int:
        k.append(i)
df.drop(labels=k, inplace=True)
df

     name age gender
0  wencky  29      w
1  barbio   3      m
2    Perl  20      m
3    mary  18      w
5     bob  26      w

## 6. 两列合并成新的一列

In [16]:
df['test1'] = df['name'] + df['gender'] # 两列均为字符串类型
df['test2'] = df['age'].map(str) + df['gender'] # age为int类型，需转换为字符串类型；
df

     name age gender    test1 test2
0  wencky  29      w  wenckyw   29w
1  barbio   3      m  barbiom    3m
2    Perl  20      m    Perlm   20m
3    mary  18      w    maryw   18w
5     bob  26      w     bobw   26w

## 7. 反转数据框的行

In [17]:
df.iloc[::-1, :]
# [::-1]表示步长为-1, 从后往前倒序输出

     name age gender    test1 test2
5     bob  26      w     bobw   26w
3    mary  18      w    maryw   18w
2    Perl  20      m    Perlm   20m
1  barbio   3      m  barbiom    3m
0  wencky  29      w  wenckyw   29w

----

# 最后附上思维导图：

![Image Name](https://cdn.kesci.com/upload/image/quhb92rre6.png)